<!DOCTYPE html>
<html>
    <head>
       <meta charset="utf-8">
       <title>ТЕСТ</title>
	   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    </head>
 <body style="background-color: rgb(255, 160, 122); color: rgb(0, 0, 0);">
 
<form action="/" method="get"><input value="Перейти на главную страницу" type="submit"> </form>
<br>
<form action="/news" method="get"><input value="Перейти на страницу новостей" type="submit"> </form>
<br>

 <form action="/after" method="get">
 	
    <p><b>***Выберите правильный вариант написания слов в старой орфографии***</b></p>
	
	<p><b>1</b></p>
	
    <input type="radio" name="1" value="1">слѣпой<Br>
    <input type="radio" name="1" value="0">слепой<Br>
	
	<hr>
	
	<p><b>2</b></p>
	
    <input type="radio" name="2" value="1">пѣна<Br>
    <input type="radio" name="2" value="0">пена<Br>
	
	<hr>
	
	<p><b>3</b></p>
	
	<input type="radio" name="3" value="0">отрѣчься<Br>
    <input type="radio" name="3" value="1">отречься<Br>
	
	<hr>
	
	<p><b>4</b></p>
	
	<input type="radio" name="4" value="1">змѣй<Br>
    <input type="radio" name="4" value="0">змей<Br>
	
	<hr>
	
	<p><b>5</b></p>
	
	<input type="radio" name="5" value="1">мѣдь<Br>
    <input type="radio" name="5" value="0">медь<Br>
	
	<hr>
	
	<p><b>6</b></p>
	
    <input type="radio" name="6" value="0">мѣдоваръ<Br>
    <input type="radio" name="6" value="1">медоваръ<Br>
	
	<hr>
	
	<p><b>7</b></p>
	
    <input type="radio" name="7" value="0">тѣлёнокъ<Br>
    <input type="radio" name="7" value="1">телёнокъ<Br>
	
	<hr>
	
	<p><b>8</b></p>
	
	<input type="radio" name="8" value="1">блѣдный<Br>
    <input type="radio" name="8" value="0">бледный<Br>
	
	<hr>
	
	<p><b>9</b></p>
	
	<input type="radio" name="9" value="1">гнѣздо<Br>
    <input type="radio" name="9" value="0">гнездо<Br>
	
	<hr>
	
	<p><b>10</b></p>
	
	<input type="radio" name="10" value="0">лѣвъ<Br>
    <input type="radio" name="10" value="1">левъ<Br>
	
	<hr>
	
	<p><input type="submit" value = 'Отправить' ></p>
	
	
	 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
 </form>
 
 </body>
 </html>