<!DOCTYPE html>
<html>
    <head>
       <meta charset="utf-8">
       <title>АНКЕТА</title>
    </head>
 <body style="background-color: rgb(240, 255, 240); color: rgb(131, 139, 139);">

 <form action="/after" method="get">
 
    <p><b>УКАЖИТЕ ИНФОРМАЦИЮ О СЕБЕ</b></p>
 
    <p><b>Сколько Вам лет?</b> <input type="text" name="возраст" value=""></p>
	<p><b>В каком городе Вы прожили большую часть своей жизни?</b> <input type="text" name="город" value=""></p>
	<p><b>Какой Ваш родной язык?</b> <input type="text" name="язык" value=""></p>
	<p><b>Каков Ваш уровень образования?</b> <input type="text" name="образование" value=""></p>
	
    <p><b>ВЫБЕРИТЕ УПОТРЕБЛЯЕМЫЙ ВАМИ ВАРИАНТ</b></p>
	
	<p><b>1</b></p>
	
    <input type="radio" name="1" value="тЕфтели">тЕфтели<Br>
    <input type="radio" name="1" value="тефтЕли">тефтЕли<Br>
	
	<hr>
	
	<p><b>2</b></p>
	
    <input type="radio" name="2" value="инАче">инАче<Br>
    <input type="radio" name="2" value="Иначе">Иначе<Br>
	
	<hr>
	
	<p><b>3</b></p>
	
	<input type="radio" name="3" value="укрАинский">укрАинский<Br>
    <input type="radio" name="3" value="украИнский">украИнский<Br>
	
	<hr>
	
	<p><b>4</b></p>
	
	<input type="radio" name="4" value="прикУс">прикУс<Br>
    <input type="radio" name="4" value="прИкус">прИкус<Br>
	
	<hr>
	
	<p><b>5</b></p>
	
	<input type="radio" name="5" value="запаснОй">запаснОй<Br>
    <input type="radio" name="5" value="запАсный">запАсный<Br>
	
	
	<p><input type="submit" value = 'Отправить' ></p>
	
	
 </form>
 
 </body>
 </html>