<!DOCTYPE html>
<html>
    <head>
       <meta charset="utf-8">
       <title>ПОИСК</title>
    </head>
	
<body style="background-color: rgb(240, 255, 240); color: rgb(131, 139, 139);">
	
	<form action="/results" method="get"> Окно для поиска <input name="search" value="" type="text"><input value="поиск" type="submit"></form>
<br>
<br>
<br>
<form action="/" method="get"><input value="Заполнить анкету (ещё раз)" type="submit"> </form>
<br>
<form action="/stats" method="get"><input value="Посмотреть статистику" type="submit"> </form>
<br>
<form action="/json" method="get"><input value="Данные в формате json" type="submit"> </form>

</body>
</html>