<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head>
<!--DOCKYPE html-->
<meta charset="UTF-8"><title>Замена слов</title>
</head>

<body style="background-color: rgb(240, 255, 240); color: rgb(131, 139, 139)>
<p style="text-align: center;"><b>Программа по замене слов</b></p>

<form action="/page_2" method="get">
<div style="" class=""> Введите текст (слово, словосочетание или предложение) <input name="реплика" value="" type="text"><br>
<br>
<input value="ок" type="submit">
</form>
<Br>
</body></html>